<div class="container tpo-padding""><%= form_for @conn, page_path(@conn, :login), [as: :login], fn f -> %>
<label>
  Username:
  <%= text_input f, :username %>
</label>

<label>
  Password:
  <%= password_input f, :password %>
</label>

<%= submit "
  Submit" %>
  <% end %>
</div>